:root {
  /* TRANSITION */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* BORDER RADIUS */
  --rounded-none: 0px;
  --rounded-sm: 0.125rem; /* 2px */
  --rounded: 0.25rem; /* 4px */
  --rounded-md: 0.375rem; /* 6px */
  --rounded-lg: 0.5rem; /* 8px */
  --rounded-xl: 0.75rem; /* 12px */
  --rounded-2xl: 1rem; /* 16px */
  --rounded-3xl: 1.5rem; /* 24px */
  --rounded-full: 9999px;
  /* BOX SHADOW */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;
  /* MARGIN & PADDING */
  --mp-0: 0px;
  --mp-1: 0.25rem; /* 4px */
  --mp-2: 0.5rem; /* 8px */
  --mp-3: 0.75rem; /* 12px */
  --mp-4: 1rem; /* 16px */
  --mp-5: 1.25rem; /* 20px */
  --mp-6: 1.5rem; /* 24px */
  --mp-7: 1.75rem; /* 28px */
  --mp-8: 2rem; /* 32px */
  --mp-9: 2.25rem; /* 36px */
  --mp-10: 2.5rem; /* 40px */
  --mp-11: 2.75rem; /* 44px */
  --mp-12: 3rem; /* 48px */
  --mp-13: 3.25rem; /* 52px */
  --mp-14: 3.5rem; /* 56px */
  --mp-15: 3.75rem; /* 60px */
  --mp-16: 4rem; /* 64px */
  --mp-17: 4.25rem; /* 68px */
  --mp-18: 4.5rem; /* 72px */
  --mp-19: 4.75rem; /* 76px */
  --mp-20: 5rem; /* 80px */
}
