.section {
  max-width: 375px;
  margin: auto;
  padding: var(--mp-6);
  background: var(--primary-200);

  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-md);
}
.display {
  border-radius: var(--rounded-lg);
  padding: var(--mp-20);
  text-align: center;
  background-color: var(--background-100);
  box-shadow: var(--shadow-sm);
}
.btn_navigation {
  margin-top: var(--mp-10);
  text-align: center;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
  gap: var(--mp-4);
}
.btn {
  border-radius: var(--rounded-lg);
  padding: var(--mp-4);
  background-color: var(--background-100);
  border: none;
  box-shadow: var(--shadow-md);

  transition-property: background-color, outline, outline-offset;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.btn:hover,
.btn:focus {
  background-color: var(--primary-400);
  outline: 1px solid var(--primary-800);
  outline-offset: 3px;
}
